doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title new_todo
body
  h1 NEW TODO
  form( action="/todos", method="POST")
    fieldset
      div.todo_title Title
        label(for="title") 
        br
        input(type="text", name="title")
      div.todo_description Description
        br
        label(for="description")
        input(type="text", name="description") 
      div.created_at
        input(type="hidden", name="created_at", value="") 
      div.is_done
        input(type="hidden", name="is_done")
      div.save
        button save